Add signing key's certificate(s) as COSE headers

Add Signing Keys, Certificates to CoRIM

Refer to RFC 9360 for details.

When ingesting CoRIM, an attestation verifier must be able to check that the CoRIM has not been tampered with, and is from a known and trusted supply chain entity.

To achieve the this, the signature within the COSE Sign1 envelope must be successfully verified, and the signing key must be checked to ensure it matches one of the configured trust anchors.

To help the attestation verifier in the PKIX validation, the supply chain entity that signs the CoRIM will add the signing certificate and the full certificate chain to the COSE Sign1 object, using the `x5chain` unprotected header.

The syntax of the header is specified in [Section 2 of RFC9360](https://www.rfc-editor.org/rfc/rfc9360.html#section-2-5.4.1).

